version: '3.9'

services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sisvigia
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d

  api:
    build: .
    container_name: sisvigia
    restart: always
    depends_on:
      - db
    environment:
      PORT: 4000
      DATABASE_URL: postgres://postgres:postgres@db:5432/sisvigia
      JWT_SECRET: mysecretkey
    ports:
      - "4000:4000"
    volumes:
      - .:/app
    command: npm run dev

volumes:
  db_data: